<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React Cinema API</title>
</head>
<body>
  <h1>React Cinema</h1>
  <ul>
    <li><a href="/api">./</a></lia>
    <li><a href="/api/v.1/films">Films</a></li>
    <li><a href="/api/v.1/categories">Categories</a></li>
    <li><a href="/api/v.1/countries">Countries</a></li>
    <li><a href="/api/v.1/users">Users</a></li>
    <li><a href="/api/v.1/comments">Comments</a></li>
  </ul>
</body>
</html>