/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none !important;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.sidebar_user-btn, .section__nav--btn {
  outline: none;
  border: none;
}

.sidebar_user-btn, .sidebar_user-avatar {
  border: 2px solid #f9ab00;
  border-radius: 0.4rem;
}

.sidebar_user-btn, .sidebar_user-avatar {
  width: 40px;
  height: 40px;
}

.btn--next, .btn--pre {
  display: flex !important;
  width: auto;
  height: auto;
  color: #ffffff !important;
  font-size: 2rem !important;
  padding: 0 !important;
  opacity: 0.8;
  transition: all ease 0.4s !important;
}
.btn--next svg, .btn--pre svg {
  vertical-align: unset !important;
}
.btn--next:hover, .btn--pre:hover {
  opacity: 1;
}

.carousel--btn {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn--next {
  margin-left: 0.5rem;
}

.btn-orange {
  color: #fff !important;
  border-color: #f9ab00 !important;
  border-width: 2px !important;
  border-radius: 0.4rem !important;
}

.section__nav--btn {
  border-radius: 0.4rem;
  background-color: #222028;
  color: white;
}
.section__nav--btn:first-child {
  margin-right: 5px;
}

.form__photos, .form__video, .form__img {
  position: relative;
}
.form__photos label, .form__video label, .form__img label {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
}
.form__photos input, .form__video input, .form__img input {
  position: absolute;
  left: -999999px;
  opacity: 0;
}

.card-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  position: relative;
  overflow: hidden;
}
.card-carousel__outer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
}
.card-carousel__inter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card {
  background-color: transparent !important;
  border: none !important;
}
.card__wrap {
  margin-bottom: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card__cover {
  position: relative;
  background-color: #1a191f;
}
.card__cover img {
  width: 100%;
  transition: opacity 0.5s;
}
.card__cover:hover img {
  opacity: 0.4;
}
.card__cover:hover .card__play {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.card__play {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%, -50%) scale(0.9);
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9ab00 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border: 6px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  font-size: 1.2rem;
}
.card__play:hover {
  border-color: #f9ab00;
}
.card__rate {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: rgba(26, 25, 31, 0.7);
  color: white;
}
.card__rate--red {
  border-color: red;
}
.card__rate--yellow {
  border-color: yellow;
}
.card__rate--green {
  border-color: green;
}
.card__content {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.card__title {
  color: white;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0px !important;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0.5rem !important;
}
.card__title a {
  cursor: pointer;
  color: white;
}
.card__title a:hover {
  color: #f9ab00;
}
.card__category {
  line-height: 1;
}
.card__category__item {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
  color: #f9ab00 !important;
  opacity: 0.8;
  font-size: 1rem;
}
.card__category__item:hover {
  opacity: 1;
}
.card__category__item:not(:last-child)::before {
  content: ",";
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0;
  color: #f9ab00;
}

.card--details .card__watch {
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
}
.card--details .card__cover {
  max-width: 250px;
}
.card--details .card__content {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.card--details .card__detail {
  margin-bottom: 1rem;
}
.card--details .card__detail li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.card--details .card__detail li span {
  margin-right: 0.5rem;
  position: relative;
}
.card--details .card__detail li span:not(:first-child) {
  color: #f9ab00;
}
.card--details .card__detail li span:not(:first-child):not(:last-child)::after {
  content: ",";
  display: block;
  position: absolute;
  margin-top: 2px;
  top: 0%;
  left: 100%;
}
.card--details .card__description {
  margin-bottom: 1rem;
  padding: 15px 20px;
  background-color: #222028;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .card--details .card__description {
    margin-bottom: 0rem;
  }
}
.card--details .card__description--scroll {
  max-height: 160px;
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  .card--details .card__description--scroll {
    max-height: 170px;
  }
}
@media only screen and (min-width: 992px) {
  .card--details .card__description--scroll {
    max-height: 180px;
  }
}
@media only screen and (min-width: 1200px) {
  .card--details .card__description--scroll {
    max-height: 140px;
  }
}
.card--details .card__description--scroll::-webkit-scrollbar {
  width: 5px !important;
}
.card--details .card__description--scroll::-webkit-scrollbar-thumb {
  background-color: #f9ab00;
  border-radius: 10px;
}
.card--details .card__description--scroll::-webkit-scrollbar-track {
  width: 5px;
  background-color: black;
}
.card--details .card__description--text {
  padding-right: 20px;
}

.reviews__author, .comments__author {
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;
}

.reviews__avatar, .comments__avatar {
  position: absolute;
  width: 40px;
  left: 0;
}

.reviews__text, .comments__text {
  padding: 20px;
  border: 1px solid #222028;
  border-radius: 0.5rem;
}

.comments__action {
  padding: 10px 20px;
  border: 1px solid #222028;
  border-radius: 0.5rem;
  border-top: none;
}

.comments__rate button, .comments__action > button {
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  opacity: 0.8;
  transition: 0.4s all ease;
}
.comments__rate button:hover, .comments__action > button:hover {
  opacity: 1;
}

.comments {
  height: 40px;
  color: white;
}
.comments__item {
  margin-bottom: 20px;
}
.comments__item.--answer {
  margin-left: 40px;
}
.comments__name {
  height: 20px;
}
.comments__time {
  margin-top: 2px;
  height: 18px;
  font-size: 12px;
  color: gray;
}
.comments__action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.comments__action > button > svg {
  font-size: 12px;
  margin-right: 5px;
}
.comments__action > button:nth-child(2) {
  margin-left: auto;
  margin-right: 15px;
}
.comments__rate button {
  margin-right: 15px;
}
.comments__rate svg {
  margin-right: 5px;
}
.comments__rate button:first-child svg {
  color: green;
}
.comments__rate button:last-child svg {
  color: red;
}

.reviews {
  height: 40px;
  color: white;
}
.reviews__item {
  margin-bottom: 20px;
}
.reviews__author {
  padding-right: 60px;
}
.reviews__rating {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.reviews__rating.--red {
  border-color: red;
}
.reviews__rating.--orange {
  border-color: #f9ab00;
}
.reviews__rating.--green {
  border-color: green;
}
.reviews__name {
  height: 20px;
}
.reviews__time {
  margin-top: 2px;
  height: 18px;
  font-size: 12px;
  color: gray;
}
.photos img {
  vertical-align: middle;
  margin-bottom: 20px;
  border-radius: 0.5rem;
}

.section {
  padding: 30px 0px;
  color: white;
}
.section__title--wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.section__nav--wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.section__nav--wrap *:not(:last-child) {
  margin-right: 15px;
}
.section view_all {
  cursor: pointer;
  color: white;
}
.section view_all:hover {
  color: #f9ab00;
}

.section--details {
  margin-top: 80px;
  padding: 50px 0;
  position: relative;
  color: white;
}

.content__head {
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #222028;
}

.content__title {
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .content__title {
    margin-bottom: 10px;
  }
}

.content__tabs {
  display: flex;
  display: none;
  margin: 0;
  font-size: 14px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .content__tabs {
    display: flex;
  }
}
.content__tabs li {
  margin-right: 30px;
}
.content__tabs li a {
  cursor: pointer;
  color: white;
}
.content__tabs li a:hover {
  color: #f9ab00;
}
.content__tabs li .tab {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 54px;
}
.content__tabs li .tab::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  top: 100%;
}
.content__tabs li .tab--active {
  color: #f9ab00 !important;
}
.content__tabs li .tab--active::before {
  background-color: #f9ab00;
}

.content__mobile {
  position: relative;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .content__mobile {
    display: none;
  }
}
.content__mobile--btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 20px;
  line-height: 1;
}
.content__mobile--btn input {
  position: relative;
  width: auto;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #fff;
  height: 20px;
  padding: 0;
  margin-right: 5px;
}
.content__mobile--btn span {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  margin-top: -3px;
}
.content__mobile--btn span:after, .content__mobile--btn span:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  left: 0;
  top: 0%;
  transition: 0.4s ease;
}
.content__mobile--btn span:before {
  width: 16px;
  top: 25%;
}
.content__mobile--btn span:after {
  width: 10px;
  top: 75%;
}
.content__mobile--btn--active span:before {
  width: 16px;
  top: 50%;
  transform: rotate(45deg);
}
.content__mobile--btn--active span:after {
  width: 16px;
  top: 50%;
  transform: rotate(-45deg);
}
.content__mobile--dropdown {
  background-color: #222028;
  position: absolute;
  width: 200px;
  top: 100%;
  padding: 20px;
  margin-top: 10px;
  border-radius: 0.5rem;
  transition: all ease 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: -99999;
}
.content__mobile--dropdown--active {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
}
.content__mobile--nav {
  margin: 0;
}
.content__mobile--nav li:not(:last-child) {
  margin-bottom: 20px;
}
.content__mobile--nav a:not(:last-child) {
  display: block;
}
.content__mobile--nav a {
  cursor: pointer;
  color: white;
}
.content__mobile--nav a:hover {
  color: #f9ab00;
}

.tab--panel:not(.active) {
  display: none;
}
.tab--panel.active {
  display: block;
}

.navigation {
  background-color: #1a191f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.text-size-2rem {
  font-size: 1.5rem !important;
  transition: all ease 0.4s;
}

.nav-bar {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-bar__logo {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: 0%;
  z-index: 9999999;
  transform: translate(100%, 0%);
  transition: all ease 0.4s;
  padding: 30px !important;
  background-color: #1a191f;
}
.nav.active {
  transform: translate(0%, 0%);
}
@media only screen and (min-width: 1200px) {
  .nav {
    width: auto;
    height: 100%;
    position: unset;
    flex-direction: row;
    padding: 0px !important;
    transform: translate(0, 0);
    transition: unset;
    margin-left: auto !important;
  }
}
.nav__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1200px) {
  .nav__item {
    padding: 0 10px;
    margin-bottom: 0px;
  }
}
.nav--label {
  cursor: pointer;
  text-decoration: none !important;
  text-transform: uppercase;
  color: white !important;
  transition: all ease 0.2s;
  font-size: 0.9rem;
}
.nav--label:hover {
  color: #f9ab00 !important;
}
.nav__dropdown {
  position: relative;
}
.nav__dropdown--wrap {
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
  position: absolute;
  top: 100%;
  background-color: #222028;
  padding: 10px;
  margin-top: 10px;
  height: 224px;
  z-index: 99999;
}
@media only screen and (min-width: 1200px) {
  .nav__dropdown--wrap {
    width: 200px;
    height: 200%;
    margin-top: 0px;
  }
}
.nav__dropdown--wrap.active {
  visibility: visible;
  opacity: 1;
}
.nav__dropdown--scroll {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
.nav__dropdown--scroll::-webkit-scrollbar {
  width: 5px !important;
}
.nav__dropdown--scroll::-webkit-scrollbar-thumb {
  background-color: #f9ab00;
  border-radius: 10px;
}
.nav__dropdown--scroll::-webkit-scrollbar-track {
  width: 5px;
  background-color: black;
}
.nav__dropdown__item {
  color: white;
  display: flex;
  align-items: center;
  line-height: 1 !important;
  cursor: pointer;
}
.nav__dropdown__item a {
  width: 100%;
  padding: 10px;
}
.nav__dropdown__item:hover {
  color: #f9ab00;
}
.nav__lang {
  margin-left: 1rem;
}
.nav__lang .nav__item {
  margin-bottom: 0px;
}
.nav__form {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform: translate(0, -100%);
  display: flex;
  align-items: center;
  background-color: #1a191f;
  transition: all ease 0.4s;
}
@media only screen and (min-width: 1200px) {
  .nav__form {
    position: unset;
    width: 200px;
    transform: translate(0, 0%);
  }
  .nav__form .grp-inp {
    position: relative;
  }
}
.nav__form .grp-inp {
  width: 100%;
  height: 50%;
}
.nav__form.active {
  transform: translate(0, 0%);
}
.nav__search {
  position: absolute;
  width: 100%;
  height: 40px !important;
  color: white !important;
  border-radius: 0.4rem !important;
  background-color: #222028 !important;
  border: 2px solid transparent;
  outline: none;
  padding-left: 20px;
  padding-right: 80px;
}
.nav__search::placeholder {
  color: white !important;
}
.nav__search:focus {
  border-color: #f9ab00;
}
@media only screen and (min-width: 1200px) {
  .nav__search {
    position: absolute;
    width: 200px;
    padding-right: 40px;
  }
}
.nav__btn {
  line-height: 1;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  height: 40px;
}
.nav__btn--search {
  width: 40px;
  position: absolute;
  right: 40px;
}
.nav__btn--close {
  width: 40px;
  position: absolute;
  right: 0px;
}
.nav__btn--search2 {
  width: 40px;
  border-radius: 0.4rem !important;
}
@media only screen and (min-width: 1200px) {
  .nav__btn--search {
    right: 0;
  }
  .nav__btn--close {
    display: none;
  }
  .nav__btn--search2 {
    display: none;
  }
}
.nav__auth {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.nav__auth--btn {
  border-radius: 0.4rem !important;
  padding: 0.5rem 1rem;
}
.nav__auth--btn :nth-child(2) {
  display: none;
}
.nav__burger {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .nav__burger {
    display: none;
  }
}
.nav__burger--wrap {
  cursor: pointer;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  position: relative;
}
.nav__burger--line {
  position: absolute;
  width: 50%;
  transform: rotate(0deg);
  background-color: white;
  height: 2px;
  transition: 0.4s ease;
}
.nav__burger--line:nth-child(1) {
  top: 13px;
}
.nav__burger--line:nth-child(3) {
  top: 25px;
}
.nav__burger--active .nav__burger--line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.nav__burger--active .nav__burger--line:nth-child(2) {
  opacity: 0;
}
.nav__burger--active .nav__burger--line:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.wrap {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .text-size-2rem {
    font-size: 2rem !important;
  }

  .nav-bar__logo {
    width: auto;
  }

  .nav__auth--btn {
    padding: 0.5rem 2rem !important;
  }
  .nav__auth--btn :nth-child(1) {
    display: none;
  }
  .nav__auth--btn :nth-child(2) {
    display: inline-block;
  }
}
.loading {
  align-items: flex-start !important;
}
.loading h1 {
  font-size: 2.5rem;
}
.loading__alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loading__loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
  height: 600px;
  margin-top: 80px;
  position: relative;
}

.header__bg {
  height: 100%;
  position: relative;
}
.header__bg--wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all ease 1s;
  opacity: 0.1;
}
.header__bg--item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.7s;
}
.header__bg--active {
  opacity: 1;
}

.head__title {
  display: flex;
  text-transform: uppercase;
  color: white;
}
.head__title h1 {
  font-weight: 100;
}
.head__title strong {
  font-weight: 500;
}

.sidebar {
  border: 1px solid #222028;
  width: 280px;
  height: 100vh;
}
.sidebar_logo {
  height: 80px;
  padding: 0px 30px;
  font-size: 30px;
  border-bottom: 1px solid #222028;
}
.sidebar_user {
  padding: 0px 30px;
  height: 80px;
  border-bottom: 1px solid #222028;
}
.sidebar_user-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px;
  margin-right: 15px;
}
.sidebar_user-title span {
  font-size: 10px;
}
.sidebar_user-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #222028;
}
.sidebar_nav nav {
  padding: 30px;
}
.sidebar_nav-item {
  list-style-type: none;
  margin-bottom: 10px;
  color: #f9ab00 !important;
}

.admin form {
  padding: 30px;
}
.admin form .col-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.admin form .row {
  margin-right: -10px;
  margin-left: -10px;
}
.admin form .form-group {
  margin-bottom: 20px;
}

.form-cover, .form-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.form-cover {
  margin-bottom: 20px;
  background-color: #1a191f;
}
@media only screen and (min-width: 992px) {
  .form-cover {
    flex: 0 0 300px;
    max-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .form-content {
    flex: 0 0 100%;
    max-width: calc(100% - 300px);
  }
}

.form__img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 420px;
}
.form__img img {
  max-width: 280px;
}
.form__img label {
  justify-content: center;
  align-items: center;
}

.form__select {
  height: auto !important;
  position: relative;
}
.form__select ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100% !important;
}
.form__select input {
  padding: 0 !important;
}
.form__select input:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}
.form__select--selected {
  background-clip: padding-box;
  border: 2px solid transparent;
  min-height: 130px;
}
.form__select--selected ul > * {
  height: 50px !important;
}
.form__select--selected ul li {
  padding: 5px;
}
.form__select--selected ul li span {
  line-height: 1;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}
.form__select--selected ul li span ion-icon {
  color: #f9ab00;
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}
.form__select--selected ul input {
  background-clip: padding-box;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  flex: 1;
  padding: 0 10px !important;
}
.form__select--active {
  transition: all ease 0.4s;
  border-color: #f9ab00;
}
.form__select--dropdown {
  position: absolute;
  width: 100%;
  max-height: 300%;
  background-color: #222028;
  z-index: 3;
  overflow: auto;
  display: none;
}
.form__select--dropdown.active {
  display: block;
}
.form__select--dropdown li {
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 10px;
  cursor: default;
}
.form__select--dropdown li:hover {
  transition: all ease 0.4s;
  color: #f9ab00;
}
.form__select--dropdown li.selected {
  color: #f9ab00;
}
.form__select--dropdown::-webkit-scrollbar-track {
  background-color: #222028;
}
.form__select--dropdown::-webkit-scrollbar {
  width: 10px;
}
.form__select--dropdown::-webkit-scrollbar-thumb {
  background-color: #f9ab00;
  border-radius: 2px;
}

.form__photos, .form__video {
  background-clip: padding-box;
  height: 50px !important;
  border: 2px solid transparent !important;
}
.form__photos label, .form__video label {
  padding: 0px 10px !important;
  justify-content: space-between;
  align-items: center;
}

input,
textarea,
select {
  background-clip: padding-box;
  height: 50px !important;
  border: 2px solid transparent !important;
  transition: all ease 0.4s !important;
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  border-color: #f9ab00 !important;
}

textarea {
  height: 140px !important;
  resize: none;
}
textarea::placeholder {
  color: white !important;
}

body {
  background-color: #1a191f !important;
}

::selection {
  background: #f9ab00;
  color: #fff;
  text-shadow: none;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1310px !important;
  }
}
.ndfHFb-c4YZDc-Wrql6b {
  display: none !important;
}

.w-280px {
  width: 280px !important;
}

.h-80px {
  height: 80px !important;
}

.h-40px {
  height: 40px !important;
}

.h-100vh {
  height: 100vh;
}

.px-15px {
  padding-left: 15px;
  padding-right: 15px;
}

.my-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mb-30px {
  margin-bottom: 30px !important;
}

.bg-main {
  background: #1a191f !important;
}

.bg-sub {
  background-color: #222028 !important;
}

.bg-orange {
  background-color: #f9ab00 !important;
  color: white;
}

.border {
  border: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: white !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-orange {
  border-color: #f9ab00 !important;
}

.border-main {
  border-color: #212529 !important;
}

.text-size-22px {
  font-size: 22px;
}

.text-orange {
  color: #f9ab00 !important;
}