



// height

// Border
  // Color
  .border-orange{
    border-color: #f9ab00;
  }
  // Size

// Text
  // Color
  .text-light{
    color: white !important;
  }
  // Size
  .text-size-2rem{
    font-size: 2rem !important;
  }

// Button
  




