.filter__content{
  color: white;
  margin-bottom: 20px;
}

.filter__item{
  position: relative;
  margin-bottom: 20px;
  @include screen("Ipad-large"){
    margin-bottom: 0;
  }

  &--label{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    display: block;
  }

  &--dropdown{
    @include d-flex(row, nowrap, flex-start, center);
    display: inline-flex;
    cursor: pointer;
    height: 20px;
    line-height: 1;
    font-size: 0.9rem;

    &>*{
      pointer-events: none;
    }

    input{
      position: relative;
      width: auto;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      color: #fff;
      height: 20px !important;
      padding: 0;
      margin-right: 5px;

      &[data-id="filter__rate--start"],
      &[data-id="filter__release--start"]{
        margin-right: 0;
      }
      
    }
    span{
      position: relative;
      width: 16px;
      height: 16px;
      display: block;
      margin-top: -3px;
    }
    span:after, span:before{
      @include pseudo();
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
      left: 0;
      top: 0%;
      transition: 0.4s ease;
    }
    span:before{
      width: 16px;
      top: 25%;
    }
    span:after{
      width: 10px;
      top: 75%;
    }
    &.--active{
      span:before{
        top: 50%;
        transform: rotate(45deg);
      }
      span:after{
        width: 16px;
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  &--menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 110%;
    padding: 20px;
    background-color: #{$gray};
    border-radius: .4rem;
    z-index: 2;
    margin-top: 0px;

    transition: 0.4s all ease;

    li{
      cursor: pointer;
      margin-bottom: 10px;

      &.--active{
        background-color: #{$orange};
      }
    }

    &.--active{
      visibility: visible;
      opacity: 1;
      margin-top: 10px;
    }
  }

  &__scroll{
    max-height: 160px;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #{$orange};
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      width: 5px;
      background-color: black;
    }
  }

  &--rate{
    @include d-flex(row, nowrap, center, center);
    position: relative;
    height: 20px;

    input{
      margin-left: 5px;
      height: 3px !important;
      border: none !important;
      border-radius: .4rem;
      margin-top: 4px;

      &[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: #{$orange}; /* Otherwise white in Chrome */
      }
      
      &[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #{$orange};
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        
      }
      
      &[type=range]:focus {
        outline: none; 
      }
    }
  }
}

.filter__btn{
  @include d-flex(row, nowrap, flex-start, center);
  height: 100%;
  width: 100%;
  
  @include screen("Ipad-large"){
    justify-content: flex-end
  }
  
  button{
    @extend %btn-clear;
    @extend %border;
    background-color: #{$gray};
    color: white;

    padding: 0.5rem 2rem;
  }
}