
.sidebar{

  &_logo{
    padding: 0px 30px;
    font-size: 30px;
  }

  &_user{
    padding: 0px 30px;
    &-avatar{
      padding: 9px;
      margin-right: 15px;
    }
    &-title{
      span{
        font-size: 10px;
      }
    }
    &-btn{
      padding: 7px;
      border-width: 2px !important;
    }
  }

  &_nav{
    
    nav{
      padding: 30px;
    }
    &-item{
      list-style-type: none;
      margin-bottom: 10px;
      color: #f9ab00 !important;
    }
  }
}
